{% extends "Base.html" %} 
{% block title %} {{ title }}{% endblock %}

{% block content %}
{% from 'Formtools.html' import input, error %}

<div class="android-section-title mdl-typography--display-1-color-contrast">开始你的项目</div>
<div class="android-card-container ">
  <form class="form-horizontal" action = {{ url_for( 'input_1') }} method="post" name="begin" enctype="multipart/form-data">
     {{form.hidden_tag()}}
      {{ input(form.project) }}
      {{ input(form.person) }}
      {{ input(form.money) }}
      {{ input(form.post) }}
      {{ input(form.upload,myclass=" ") }}
      {{ input(form.submit,myclass="btn btn-default",appear="") }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      {{ error(form.project) }}
      {{ error(form.person) }}
      {{ error(form.money) }}
      {{ error(form.post) }}
      {{ error(form.upload) }}
      </div>
    </div>

  </form>
</div>
{% endblock %}