{% set admin=admin or false %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> {% block head %}
  <title>{% block title %}base{% endblock %}</title>
  <link rel="icon" sizes="192x192" href= "{{ url_for('static', filename='images/logo-white.png') }}">
  <!-- Page styles -->
  {% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> {% endblock %}{% endblock %}
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
      <div class="mdl-layout__header-row">
        <span class="android-title mdl-layout-title">
          <p>Demo</p>
        </span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search-field">
          </div>
        </div>
        <!-- Navigation -->
        <div class="android-navigation-container">
          <nav class="android-navigation mdl-navigation">
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ url_for('index') }}">首页</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ url_for('input_1') }}">项目申报</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ url_for('input_2') }}">中期检查</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ url_for('input_3') }}">成果验收</a>
          </nav>
        </div>
        <span class="android-mobile-title mdl-layout-title">
          <img class="android-logo-image">
        </span>
        <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
          <li class="mdl-menu__item">帮助</li>
          <li class="mdl-menu__item">反馈</li>
          {% if not current_user.is_anonymous %}
          <a href="{{ url_for('logout') }}"><li class="mdl-menu__item">注销</li></a>
          {% endif %}
        </ul>
      </div>
    </div>
    {% if admin %}
    <div class="android-drawer mdl-layout__drawer">
      <span class="mdl-layout-title">
        <a href="{{ url_for('index') }}">
          <i class=" android-logo-image material-icons md-72 orange600">face</i>
        </a>
      </span>
      <nav class="mdl-navigation">
        <span class="mdl-navigation__link" href="">项目申报</span>
        <a class="mdl-navigation__link" href="{{ url_for("info/college") }}">学院申报概况</a>
        <a class="mdl-navigation__link" href="{{ url_for("info/class") }}">项目类别概况</a>
        <a class="mdl-navigation__link" href="{{ url_for("info/money") }}">经费概况</a>
        <a class="mdl-navigation__link" href="{{ url_for("info/preresult") }}">预期成果概况</a>
        <div class="android-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">中期检查</span>
        <a class="mdl-navigation__link" href="{{ url_for("info/proccess") }}">项目进展</a>
        <a class="mdl-navigation__link" href="{{ url_for("info/accept") }}">验收进度</a>
        <div class="android-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">成果验收</span>
        <a class="mdl-navigation__link" href="{{ url_for("info/finish") }}">完成情况</a>
        <a class="mdl-navigation__link" href="{{ url_for("info/eval") }}">项目评价</a>
      </nav>
    </div>
    {% else %}

        <div class="android-drawer mdl-layout__drawer">
          <span class="mdl-layout-title">
            <a href="{{ url_for('index') }}">
              <i class=" android-logo-image material-icons md-72 orange600">face</i>
            </a>
          </span>
          <nav class="mdl-navigation">
            <span class="mdl-navigation__link" href="">项目申报</span>
            <a class="mdl-navigation__link" href="{{ url_for("input_1") }}">提交申请</a>
            <div class="android-drawer-separator"></div>
            <span class="mdl-navigation__link" href="">中期检查</span>
            <a class="mdl-navigation__link" href="{{ url_for("input_2") }}">材料提交</a>
            <div class="android-drawer-separator"></div>
            <span class="mdl-navigation__link" href="">成果验收</span>
            <a class="mdl-navigation__link" href="{{ url_for("input_3") }}">完成项目</a>

          </nav>
        </div>
    {% endif %}
    <div class="android-content mdl-layout__content">
      <a name="top"></a>
      <div class="android-more-section">
        {% block content %}{% endblock %}
      </div>
      <footer class="android-footer mdl-mega-footer">
        <div class="mdl-mega-footer--top-section">
          <div class="mdl-mega-footer--left-section">
            <button class="mdl-mega-footer--social-btn"></button> &nbsp;
            <button class="mdl-mega-footer--social-btn"></button> &nbsp;
            <button class="mdl-mega-footer--social-btn"></button>
          </div>
          <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-light" href="#top">

              <i class="material-icons">expand_less</i>
            </a>
          </div>
        </div>

        <div class="mdl-mega-footer--middle-section">
          <p class="mdl-typography--font-light">前端部分完成于2017/11/19@Monius</p>
          <p class="mdl-typography--font-light">后端功能完成于2017/12/19@Monius</p>
          <p class="mdl-typography--font-light">系统上线于2018/01/18@Monius</p>
          <p class="mdl-typography--font-light">后续功能正在完善...</p>
        </div>

        <div class="mdl-mega-footer--bottom-section">
          <a class="android-link android-link-menu mdl-typography--font-light" id="version-dropdown">
            版本
            <i class="material-icons">arrow_drop_up</i>
          </a>
          <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
            <li class="mdl-menu__item">Ver1.0</li>
            <li class="mdl-menu__item">Ver0.7</li>
            <li class="mdl-menu__item">Ver0.01</li>
            <li class="mdl-menu__item">Beta</li>
          </ul>
          <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
        </div>
      </footer>
    </div>
  </div>
  <!-- 
  <a data-target="#login" data-toggle="modal" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">登陆</a>
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form action="#">
        <div class="container">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="number">
            <label class="mdl-textfield__label" for="number">学号</label>
            <span class="mdl-textfield__error">请输入正确的学号</span>
          </div>
        </div>
        <div class="container">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="passwd">
            <label class="mdl-textfield__label" for="passwd">密码</label>
          </div>
        </div>
        <!-- Colored mini FAB button
        <div class="container">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            开始
          </button>
        </div>
      </form>
      <!-- /.modal-content 
    </div>
    <!-- /.modal-dialog 
  </div>
  <!-- /.modal -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
  {% block script %}{% endblock %}
</body>

</html>