{% extends "Base.html" %} 
{% block title %} {{ title }}{% endblock %}
{% from 'Formtools.html' import input, error %}
{% block content %}
<div class="android-section-title mdl-typography--display-1-color-contrast">完成项目</div>
<div class="android-card-container ">
  <form class="form-horizontal" action = {{ url_for('input_3') }} method="post" name="final" enctype="multipart/form-data">
    {{form.hidden_tag()}}
      {{ input(form.change) }}
      {{ input(form.achievement) }}
      {{ input(form.post) }}
      {{ input(form.upload,myclass=" ") }}
      {{ input(form.submit,myclass="btn btn-default",appear="") }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          {{ error(form.change) }}
          {{ error(form.achievement) }}
          {{ error(form.post) }}
          {{ error(form.upload) }}
      </div>
    </div>
  </form>
</div>
{% endblock %}