<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
  </head>

  <body>

    <div class="container">
      <form class="form-signin" action= {{ url_for('register') }} method="post" name="login">
        <h2 class="form-signin-heading">注册</h2>
        <label for="number" class="sr-only">账号</label>
        <input name='username' type="text" id="number" class="form-control" placeholder="ACCOUNT" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input name='passwd' type="password" id="inputPassword" class="form-control" placeholder="PASSWORD" required>
        <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="注册"></p>
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </div> <!-- /container -->
  </body>
</html>